$lynxWhite: #f5f6fa;
$stormPetrel: #8395a7;
$amour: #ee5253;
$wildCaribbeanGreen: #1dd1a1;
$imperialPrimer: #222f3e;

html {
    scroll-behavior: smooth;

    body {
        background-color: $lynxWhite;
        overflow-x: hidden;

        .wrapper {
            width: 100%;
            max-width: 100vw;
            height: auto;
            min-height: 100vh;

            &, .panel {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .panel {
                flex-direction: column;
                margin: 40px 10px;
                padding: 20px;
                border-radius: 10px;
                background-color: white;
                box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.25);
                transition: 100ms;

                &.results {
                    width: 100%;
                    max-width: 1060px;

                    .list {
                        width: 100%;
                        padding: 40px 0;

                        .error {
                            font: 400 18px 'DM Sans', sans-serif;
                            color: $imperialPrimer;
                            line-height: 1.4;
                            text-align: center;
                        }

                        .item {
                            width: 100%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;

                            img {
                                max-width: 200px;
                                max-height: 200px;
                                margin-right: 20px;
                                border-radius: 5px;
                            }

                            .text {
                                display: flex;
                                justify-content: center;
                                flex-direction: column;
                                margin-right: 20px;

                                h2 {
                                    font: 500 18px 'DM Sans', sans-serif;
                                    color: $imperialPrimer;
                                    line-height: 1.2;
                                    margin-bottom: 10px;
                                }

                                p {
                                    max-width: 280px;
                                    font: 400 14px 'Roboto', sans-serif;
                                    color: $stormPetrel;
                                    line-height: 1.4;
                                }
                            }

                            ul {
                                width: 100%;
                                max-width: 280px;
                                padding: 10px;
                                border: 1px solid rgba($color: $stormPetrel, $alpha: 0.25);
                                border-radius: 10px;

                                li {
                                    display: flex;
                                    justify-content: space-between;
                                    align-items: center;
                                    padding: 5px;

                                    span {
                                        font: 400 16px 'Roboto', sans-serif;
                                        color: $imperialPrimer;

                                        &.header { font-weight: 500; }
                                        &:nth-child(2) { margin-left: 10px; }
                                    }
                                    
                                    &:not(:last-of-type) {
                                        border-bottom: 1px solid rgba($color: $stormPetrel, $alpha: 0.25);
                                    }
                                }
                            }

                            &:not(:last-of-type) {
                                position: relative;
                                margin-bottom: 60px;
                                padding-bottom: 60px;

                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: 50%;
                                    bottom: 0;
                                    transform: translateX(-50%);
                                    width: 100%;
                                    height: 1px;
                                    background: rgba($color: $stormPetrel, $alpha: 0.1);
                                }
                            }
                        }

                        margin-bottom: 70px;
                    }

                    #back {
                        padding: 12px 24px;
                        font: 500 14px 'DM Sans', sans-serif;
                        color: $lynxWhite;
                        background: $amour;
                        border-radius: 10px;
                        box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.25);
                        transition: 150ms;

                        &:hover { box-shadow: 0 2px 4px 0 rgba($color: #000000, $alpha: 0.5); }
                        &:active { filter: brightness(1.15); }
                    }
                }

                &.loader {
                    position: relative;
                    padding: 70px;

                    svg {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        fill: $stormPetrel;                        
                    }

                    &.start svg { animation: 2s spin ease-in-out infinite; }
                }

                .title {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-bottom: 30px;

                    h1 {
                        max-width: 90%;
                        font: 400 16px 'DM Sans', sans-serif;
                        line-height: 1.4;
                        text-align: center;
                    }

                    svg {
                        max-width: 10%;
                        max-height: 50px;
                        margin-left: 20px;
                    }
                }

                .search {
                    display: flex;
                    justify-content: center;

                    &.invalid input, &.invalid button { border-color: $amour; }

                    input, button {
                        outline: none;
                        background: none;
                        border: 1px solid rgba($color: $stormPetrel, $alpha: 0.25);
                    }

                    input {
                        border-right: none;
                        padding: 5px 0;
                        padding-left: 10px;
                        padding-right: 5px;
                        border-top-left-radius: 50px;
                        border-bottom-left-radius: 50px;
                        font: 400 16px 'Roboto', sans-serif;
                        color: $stormPetrel;
                        transition: 150ms;
                    }

                    button {
                        border-left: none;
                        padding: 5px 0;
                        padding-right: 10px;
                        padding-left: 5px;
                        border-top-right-radius: 50px;
                        border-bottom-right-radius: 50px;
                        transition: 150ms;
                        cursor: pointer;

                        svg {
                            width: auto;
                            height: 20px;
                            transition: 150ms;
                            stroke: rgba($color: $stormPetrel, $alpha: 0.75);
                        }

                        &:hover svg { stroke: rgba($color: $stormPetrel, $alpha: 1.0); }
                        &:active { background: $lynxWhite; }
                    }
                }
            }
        }
    }
}

.hidden {
    transform: scale(0.5);
    opacity: 0;

    &.done { display: none !important; }
}

@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0); }
    100% { transform: translate(-50%, -50%) rotate(1440deg); }
}

@media (max-width: 860px) {
    .panel.results {
        .list {
            .item {
                justify-content: center;
                flex-direction: column;

                img, .text {
                    margin-right: 0 !important;
                    margin-bottom: 20px;
                }
                
                .text {
                    h2, p { text-align: center; }
                }
            }
        }
    }
}
